* {
    color: #fff;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
background: #595959
}

body::-webkit-scrollbar-thumb {
    background-color: #0047FF;
    border-radius: 20px;
    border: 3px solid #0047FF;
}

body {
    background-color: #1d1d1d !important;
}

.navbar-brand img {
    width: 10vw;
}

@media only screen and (max-width: 739px) {
    .navbar-brand img {
        display: flex;
        width: 30vw;
    }
}

canvas {
    position: absolute;
    width: 100%;
}

main {
    height: 70vh;
    position: relative;
    background: #1d1d1d5f;
    z-index: 999;

}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-js {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #0047FF;
    width: 540px;
    padding: 10px;
    text-decoration: none;
}

info-intro {
    display: flex;
}


.col-lg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #323232;
    width: 950px;
    height: auto;
    color: #fff;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.col-lg img {
    width: 200px;
    margin: 10px;
}


@media only screen and (max-width: 980px) {
    .col-lg {
        width: 80vw;
    }
    .prazer {
        display: none;
    }
}

@media only screen and (max-width: 739px) {
    .col-lg {
        width: 230px;
    }
}